<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    {% block style %}{% endblock %}

    <title>{% block title %}{% endblock %}</title>
</head>

<body class="is-preload">

    {% block body %}{% endblock %}
    {% block scripts %}{% endblock %}

</body>

</html>